.table tr.active td {
    background-color: #6c757d !important;
    color: white;
}

.table th {
    font-size: 18px;
    color: #fff;
    line-height: 1.4;
    background-color: #6c7ae0;
}

.table {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 0 40px 0 rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, .15);
    -o-box-shadow: 0 0 40px 0 rgba(0, 0, 0, .15);
    -ms-box-shadow: 0 0 40px 0 rgba(0, 0, 0, .15);
}

.table th {
    padding-top: 18px;
    padding-bottom: 18px;
}

.table td {
    padding-top: 16px;
    padding-bottom: 16px;
}

input[type="checkbox"] {
    cursor: pointer;
}


