<div class="container">
    <h1 class="mt-3">Category List</h1>
    <div class="d-flex justify-content-between mt-3">
        <div class="d-flex">
            <input type="text" placeholder="Name" class="form-control" #queryText />
            <button type="button" class="btn btn-warning ms-3"  (click)="onSearch(queryText.value)">
                Search
            </button>
        </div>
        <div>
            <button type="button" (click)="onClickEditCategories()" class="btn btn-outline-warning mx-2">
                <i class="fa-solid fa-pen-to-square"></i>Edit Category
            </button>
            <button type="button" class="btn btn btn-outline-danger mx-2" (click)="onDelete()">
                <i class="fa-solid fa-trash-can"></i> Delete Category
            </button>
            <a [routerLink]="['/admin/categories/add']" class="btn btn-outline-primary">
                <i class="fa fa-add"></i>Add Category</a>
        </div>
    </div>

    <ng-container *ngIf="categories">
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th style="text-align: center">
                        <input type="checkbox" [checked]="isAllCheckBoxChecked()" (change)="checkAllCheckBox($event)" />
                    </th>
                    <th>Id</th>
                    <th>
                        Name
                        <span style="float: right">
                            <span class="mx-1">
                                <button type="button" class="btn btn-light" (click)="sort('name', 'asc')">
                                    <i class="bi bi-arrow-up"></i>
                                </button>
                            </span>
                            <span>
                                <button type="button" class="btn btn-light" (click)="sort('name', 'desc')">
                                    <i class="bi bi-arrow-down"></i>
                                </button>
                            </span>
                        </span>
                    </th>
                    <th>
                        Url Handle
                        <span style="float: right">
                            <span class="mx-1">
                                <button type="button" class="btn btn-light" (click)="sort('url', 'asc')">
                                    <i class="bi bi-arrow-up"></i>
                                </button>
                            </span>
                            <span>
                                <button type="button" class="btn btn-light" (click)="sort('url', 'desc')">
                                    <i class="bi bi-arrow-down"></i>
                                </button>
                            </span>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categories; let i = index" (click)="onClickRow(category.id)"
                    [class.active]="category.id == HighlightRow">
                    <td style="text-align: center">
                        <input type="checkbox" value="{{ category.id }}" [(ngModel)]="categories[i].checked" />
                    </td>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.urlHandle }}</td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" (click)="getPrevPage()">Previous</a>
                </li>
                <li class="page-item" *ngFor="let count of listCount; let index = index">
                    <a class="page-link" (click)="getPage(index + 1)">{{ index + 1 }}</a>
                </li>
                <li class="page-item">
                    <a class="page-link" (click)="getNextPage()">Next</a>
                </li>
            </ul>
        </nav>
    </ng-container>
</div>